<div ng-include src="'views/navbar.html'"></div>
<div class="container">
	<div class="span12">

		<div>
			<b>QAPP data generator</b> is an upstream application to push data on
			to QAPP data files. These data files will be used by QAPP mobile app
			to show question/answer models. It requires an authentication key to
			enter data into data files.(<a href="#/contactus">Contact us</a> to
			get authentication key).
		</div>
		<div>Currently this data generator supports following
			technologies.</div>
		<ul>
			<li>Java</li>
			<li>Spring</li>
			<li>ExtJS</li>
			<li>SAN(Storage Area Network)</li>
			<li>AngularJS 1.x</li>
		</ul>
		<div>
			<br>
		</div>
		<div>Note: You can use rich text editor in full mode to
			create/edit your answer.</div>
		<div>
			<a target="_blank"
				href="https://play.google.com/store/apps/details?id=com.ionicframework.qapp736729&amp;hl=en">Click
				here</a> to download QAPP mobile app.
		</div>
	</div>
</div>
