<div class="container">
<div class="col-sm-8">
    <div class="page-header"><h1>QAPP Data Form</h1></div>

    <!-- FORM -->
    <form name="mainForm" ng-submit="submitForm()" novalidate>
      <div class="form-group">
        <label>Technology</label>
        <select name="technology" class="form-control" ng-model="technology" ng-options="tech.id as tech.name for tech in technologies"></select>
      </div>

      <button type="submit" id='single' class="btn btn-primary" ng-click = "onBtnClick($event)">Create Question</button>
      <button type="submit" id='batch' class="btn btn-primary" ng-click = "onBtnClick($event)">Create Batch(Multiple)</button>

    </form>

</div>
</div>
